.carga-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #4e5f8a, #6c7db3); */
    padding: 20px;
}

.carga-card {
    background: rgb(167, 126, 126);
    padding: 40px;
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(156, 124, 124, 0.2);
}

.carga-img {
    width: 250px;
    margin-bottom: 10px;
}

.carga-titulo {
    margin-bottom: 10px;
}

.carga-porcentaje {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0;
    color: #000000;
}

.progress-bar-container {
    width: 100%;
    height: 18px;
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ff5f6d, #5f3542);
    transition: width 0.4s ease;
}