body {
    background-color: #e8c7c7;
    font-family: Arial, sans-serif;
    margin: 0;
}

.contenedor {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 350px;
    background: #f5f5f5;
    margin: 80px auto;
    padding: 45px 20px;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h2 {
    margin-bottom: 25px;
    color: #333;
}

.input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: #e0e0e0;
    outline: none;
    font-size: 14px;
}

.input:focus {
    background: #d6d6d6;
}

.button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ff5f6d, #6a11cb);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}